@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./libs/normalaize.scss);

.gradient-header {
  background: -webkit-linear-gradient(90deg, #ffffff, #80c5ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #ffffff, #80c5ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

$shadow: #fc0;

form {
  input[type="search"] {
    border: solid 3px #fff;
    font-size: 1.5em;
    height: 2em;
    padding: 0.5em;
    transition: all 0.6s ease-in;
    z-index: 1;
    width: 100%;
  }
}

.basket-gradient {
  background: -webkit-linear-gradient(90deg, #ffffff, #80c5ff);
  background: linear-gradient(90deg, #ffffff, #80c5ff);
}

// .basket-test {
//   background: -webkit-linear-gradient(90deg,
//       #ffffff,
//       #80c5ff);
//   background: linear-gradient(90deg,
//       #ffffff,
//       #80c5ff);
// }

@media print {
  .basket-gradient {
    background: none;
  }

  .gradient-header {
    background: none;
  }
}
